<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <ul class="list-unstyled components">
            <li>
                <a class="active" href="index.php">Home<i class="fas fa-home" style="margin-left: 160px"></i></a>
            </li>
            <li>
                <a href="#notessubmenu" data-toggle="collapse" aria-expanded="false">ICM notes<i class="fas fa-comments" style="margin-left: 130px"></i></a>
                <ul class="collapse list-unstyled" id="notessubmenu">
                    <li><a href="notes.php">Regular interaction</a></li>
                    <li><a href="msc.php">Lync MSC</a></li>
                    <li><a href="cases.php">Cases generator</a></li>
                </ul>
            </li>
            <li>
                <a href="#finderSubMenu" data-toggle="collapse" aria-expanded="false">Nova finder<i class="fas fa-book-open" style="margin-left: 120px"></i></a>
                <ul class="collapse list-unstyled" id="finderSubMenu">
                    <li><a href="contacts.php">Contacts</a></li>
                    <li><a href="procedures.php">Procedures</a></li>
                    <li><a href="policies.php">Policies</a></li>
                    <li><a href="howtos.php">How to</a></li>
                </ul>
            </li>
            <li>
                <a href="#calculator" data-toggle="collapse" aria-expanded="false">Fido calculator<i class="fas fa-calculator" style="margin-left: 100px"></i></a>
                <ul class="collapse list-unstyled" id="calculator">
                    <li><a href="taxcalculator.php">Taxes</a></li>
                    <li><a href="downgradefee.php">Downgrade fee</a></li>
                    <li><a href="proratedfee.php">Prorated fee</a></li>
                </ul>
            </li>
            <!--<li>
                <a href="#clientsubmenu" data-toggle="collapse" aria-expanded="false">Background evaluator</a>
                <ul class="collapse list-unstyled" id="clientsubmenu">
                    <li><a href="clientbgData.php">Data plans</a></li>
                </ul>
            </li> -->
            <li>
                <a href="#competitors" data-toggle="collapse" aria-expanded="false">Competitors<i class="fas fa-search-plus" style="margin-left: 117px"></i></a>
                <ul class="collapse list-unstyled" id="competitors">
                    <li><a href="freedommobile.php">Freedom mobile</a></li>
                    <li><a href="kodoomobile.php">Kodoo mobile</a></li>
                    <li><a href="virginmobile.php">Virgin mobile</a></li>
                    <li><a href="fizzmobile.php">Fizz mobile</a></li>
                </ul>
            </li>
            <!--
            <li>
                <a href ="#devices" data-toggle="collapse" aria-expanded="false">Devices</a>
                <ul class="collapse list-unstyled" id="devices">
                    <li><a href="apple.php">Apple</a></li>
                    <li><a href="android.php">Android</a></li>
                    <li><a href="tablets.php">Tablets</a></li>
                </ul>
            </li>
            <li>
                <a href="#exploresubmenu" data-toggle="collapse" aria-expanded="false">Sales</a>
            </li> -->
        </ul>
        <ul class="list-unstyled CTAs">
            <li><a href="#" class="download">Open second line</a></li>
            <li><a href="http://www.webinvita.com/fouadserradj/" class="article">See Author</a></li>
        </ul>
    </nav>